


@{
    ViewData["Title"] = "Elenco dei corsi";
}

<section>
<h1>@ViewData["Title"]</h1>
<ul>
  @for(int i = 1; i <= 10; i++)
  {
    <li>Corso - nr.:  @i.ToString("0000") </li>
  }
</ul>

</section>
<p>Dettagli</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi sunt deserunt qui omnis explicabo. Tenetur eligendi nihil consequatur nesciunt sit eaque dolor delectus expedita molestiae, ipsum, 
  quaerat voluptas consectetur distinctio.</p>
  
