<!DOCTYPE html>
<html>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>


@{
    ViewData["Title"] = "Courses";
}
<h1>@ViewData["Title"]</h1>

<h2>Elenco corsi on-line</h2>
<p>Clicca sul corso per visualizzare i relativi dettagli</p>

<table >
<tr>
    <td>
        Id Corso
    </td>
    <td>
        Titolo
    </td>
    <td>
        Data
    </td>
</tr>

</table>

</body>
</html>