@{
    ViewData["Title"] = "Detail";
}
<h1>@ViewData["Title"]</h1>

<h2>Dettaglio del corso ONLINE</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, qui? Fugit cupiditate quia molestias harum inventore dolor, ipsa id numquam omnis nam provident commodi ratione iste, earum minima error molestiae?</p>
<p>Cum cupiditate nulla odio eaque, temporibus rerum assumenda fuga commodi porro iusto eveniet distinctio consequuntur modi aliquam quia necessitatibus itaque. Optio ut ullam deleniti pariatur tempora, veritatis laborum nemo asperiores!</p>
<p>Excepturi totam mollitia sequi consequuntur ipsum, dignissimos inventore, modi aperiam blanditiis laborum doloremque aliquam veritatis sit cupiditate praesentium magni placeat qui deleniti debitis illum tempora magnam veniam ea quae! Voluptatibus.</p>
<p>Hic et laboriosam tenetur voluptates! Assumenda, atque. Voluptates deleniti corrupti deserunt nulla reprehenderit. Nihil laboriosam dignissimos totam qui voluptatibus rerum incidunt quae atque aliquid, maxime blanditiis? Aperiam mollitia enim ipsum.</p>
<p>Excepturi, deserunt? Saepe, vel distinctio. Odio, deserunt tempora illum nobis repellendus amet est quidem quasi iste fugiat repellat ex quaerat dolore itaque, optio inventore illo ducimus ab nulla, earum obcaecati?</p>
<p>Iste, reprehenderit, quisquam excepturi optio commodi expedita corporis similique, cum illo tempora quos doloremque. Pariatur laborum iusto nihil eius eos omnis reprehenderit quaerat dolore soluta ipsam, tempora sapiente magnam deserunt.</p>
<p>Atque molestias maiores quia. Ipsam at est earum dolorem quod dignissimos, accusantium hic consectetur reprehenderit sit ipsa quia, recusandae pariatur, perspiciatis ex provident odit minima esse necessitatibus incidunt aliquid. Sed.</p>
<p>Tempore aliquam laboriosam officiis hic eligendi repudiandae consectetur porro delectus dolorem, quia exercitationem, nam laborum quibusdam aliquid nesciunt eveniet a incidunt placeat saepe illo dignissimos dicta dolores minus? Sit, id.</p>
<p>Repudiandae minima, quibusdam facere blanditiis possimus soluta quas neque corporis perferendis dolores tempore optio. Dolores eveniet vero, quia quisquam velit delectus cumque cum molestias, voluptates error minima, maxime consequuntur voluptatibus.</p>
<p>Accusantium, velit provident? Temporibus, aliquam. Provident quisquam tenetur facilis reprehenderit fugiat quaerat sapiente molestias aspernatur porro asperiores mollitia veritatis numquam esse ab voluptatem, repellat quibusdam ipsam dolorum sed praesentium. Excepturi?</p>



