@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuti</h1>
    <h2 class="display-4">Nel nuovo sito di Corsi OnLine</h2>
     <p>Visita il sito CADBAM: <a href="http://CADBAM.IT">per la gestione delle convenzioni</a>.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
